.hover:hover {
    cursor: pointer;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

/* .tweet-button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .5s;
} */

.milady-grid {
    display: flex;
    justify-content: center; 
    margin-bottom: 3%;
}


@media only screen and (max-width: 600px) {
    .player {
        margin-left: 7%;
        margin-bottom: 3%;
    }

    .milady-grid {
        margin-bottom: 6%;
    }

}